
/* cabecalho */
.cabecalho {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}
.cabecalho__logo, .cabecalho__pesquisa, .cabecalho__perfil {
  display: flex;
  align-items: center;
}
.cabecalho__logo__img {
  height: 3.5rem;
}
.cabecalho__perfil {
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
}

.cabecalho__perfil__img {
  border-radius: 50%;
  height: 100%;
}
.cabecalho__perfil__nome {
  background: transparent;
  padding: 0 1rem;
}
.cabecalho__mobile {
  display: flex;
  flex-direction: row;
  height: 100%;
}