
.principal {
  height: calc(100vh - 3.5rem - 2rem);
  display: flex;
  margin-top: 2rem;
}

/* menu */
.principal__menu__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.principal__menu__item__icon {
  background-color: #5081FB;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  opacity: .16;
}
.principal__menu__item__titulo {
  word-wrap: break-word;
  width: auto;
  background-color: inherit;
  text-decoration: none;
  opacity: .56;
}
.active .principal__menu__item__icon, .active .principal__menu__item__titulo{
  opacity: 1;
}
.principal__menu__item__icon:hover {
  opacity: .64;
}
.principal__menu__item__titulo:hover {
 opacity: .72;
}
.principal__menu__item__icon:active, .principal__menu__item__titulo:active {
  opacity: 1;
}

/* codigo */
.principal__codigo { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}
.principal__codigo__borda {
  background-color: #6BD1FF;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  height: auto;
  margin-bottom: 1rem; 
}
.principal__codigo__caixa {
  background-color: #141414;
  width: 100%;
  border-radius: 1rem;
  resize: vertical;
  padding: 0.5rem 1rem 1rem 1rem;
  font-style: monospace;

  display: flex;
  flex-direction: column;
}
.principal__codigo__caixa__decoracao {
  background: inherit;
}
.principal__codigo__caixa__decoracao i:nth-child(1) {
  margin-right: .5rem;
  color: #FF5F56;
}
.principal__codigo__caixa__decoracao i:nth-child(2) {
  margin-right: .5rem;
  color: #FFBD2E;
}
.principal__codigo__caixa__decoracao i:nth-child(3) {
  margin-right: .5rem;
  color: #27C93F;
}
.principal__codigo__texto {  
  margin-top: .5rem;
  background-color: inherit;
  width: 100%;
  border: none;
  resize: vertical;
  padding: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
}
.principal__codigo__texto__hilighed {
  display: none;
}
.principal__codigo__botao {
  width: 100%;
}

/* projeto e personalização */
.principal__projeto__form {
  width: 100%;
}
.principal__projeto__form__nome, .principal__projeto__form__linguagem {
  font-family: inherit;
  margin-bottom: 1rem;
}
input::placeholder, textarea::placeholder {
  color: #FFF;
  opacity: .64;
}
.principal__projeto__form__linguagem {
  color: rgba(255, 255, 255, .64);
}
.principal__projeto__form--container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.principal__projeto__form__nome {
  width: 100%;
}
.principal__projeto__form__descricao {
  font-family: inherit;
  padding: 14px 14px;
  height: auto;
  width: 100%;
  resize: vertical;
}
.principal__projeto__form__cor {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid white;
}
input[type='color']::-webkit-color-swatch { /* funciona no chrome */
  border: none;
  border-radius: .25rem;
}