
@media screen and (min-width: 0) { /* celular */
  /* geral */
  html {
    font-size: 14px;
  }
  .container--column {
    margin: 0 1rem;
  }
  .cabecalho__pesquisa {
    width: 50%;
  }
  /* cabecalho */
  .cabecalho{
    padding: 0 .4rem;
    margin: .5rem 0;
  } 
  .cabecalho__perfil, .cabecalho__pesquisa {
    display: none;
  }
  .cabecalho__mobile__perfil__icone.botao.cabecalho, 
  .cabecalho__mobile__pesquisa__icone.botao.cabecalho {
    padding: 1rem;
  }
  /* principal */
  .principal {
    flex-direction: column;
    margin-top: 1rem;
  }
  .principal__menu {
    display: none;
  }
  .principal__codigo__borda {
    padding: 1.5rem;
    margin-bottom: 1rem; 
  }
  .principal__projeto {
    width: auto;
  }
  .principal__projeto__form fieldset:nth-child(1) {
    margin-bottom: 2rem;
  }
  .principal__projeto__form fieldset:nth-child(2) {
    margin-bottom: 2rem;
  }
  .principal__projeto__form--container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 376px) { /* tablet */
  /* geral */
  .container--column {
    margin: 2rem 2rem;
  }
  /* cabecalho */
  .cabecalho{
    padding: 0 2rem 0 1rem;
    margin: 2rem 0;
    justify-content: flex-start;
  }
  .cabecalho__pesquisa {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: .5rem;
    flex-grow: 1;
  }
  .cabecalho__pesquisa form, .cabecalho__pesquisa form input {
    width: 100%;
  }
  .cabecalho__mobile__pesquisa__icone.botao.cabecalho {
    display: none;
  }
  /* principal */
  .principal__codigo {
    width: auto;
    margin: 0 2rem;
    padding: 0;
  }
  .principal__codigo__borda {
    padding: 1.5rem;
    margin-bottom: 2rem; 
  }
  .principal__projeto {
    width: auto;
  }
  .principal__projeto__form--container {
    flex-direction: row;
    justify-content: space-between;
  }
  .principal__projeto__form__linguagem, .principal__projeto__form__cor {    
    width: 49%;
  } 
}

@media screen and (min-width: 769px) { /* notebook */
  html {
    font-size: 16px;
  }
  /* geral */
  .container--column {
    margin: 0 2rem;
  }
  /* cabecalho */
  .cabecalho{
    justify-content: space-between;
    padding: 0;
  }
  .cabecalho__logo, .cabecalho__perfil {
    width: 25%;
    padding: 0 1rem;
  }
  .cabecalho__pesquisa {
    width: 50%;
    margin: 0;
    flex-grow: unset;
  }
  .cabecalho__mobile .cabecalho__mobile__pesquisa__icone {
    width: 3.5rem;
  }
  .cabecalho__mobile__perfil__icone.botao.cabecalho {
    display: none;
  }
  .cabecalho__perfil {
    display: flex;
    padding-right: 2rem;
  }
  .cabecalho__perfil__img {
    padding: .4rem 0;
  }
  /* principal */
  .principal {
    flex-direction: row;
  }
  .principal__menu, .principal__projeto {
    display: block;
    width: 25%;
  }
  .principal__codigo {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .principal__codigo__borda {
    padding: 2rem;
  }
  .principal__projeto__form--container {
    flex-direction: column;
  }
  .principal__projeto__form__linguagem, .principal__projeto__form__cor {
    width: 100%;
  }
}